html{
    scroll-behavior: smooth;
  
  }



  html { scrollbar-width: none; } /* Firefox */
  body { -ms-overflow-style: none; } /* IE and Edge */
  body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
  
  
  body{
      margin: 0 auto;
      background-color: #eeeeee;
      height: auto;

  }

  ::-webkit-scrollbar {
    display: none; 
}

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 0.80s;
  }

  a:link{
    text-decoration: none!important;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;    
  }

  a{
    text-decoration: none;

  }

  @font-face {
    font-family: aileron-regular;
    src: url(Aileron/Aileron-Regular.otf);
  }  
  
  @font-face {
    font-family: aileron-Bold;
    src: url(Aileron/Aileron-Bold.otf);
  }


  
  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
  
  .logo:nth-child(1) {
    transition-delay: 100ms ;
  }
  
  .logo:nth-child(2) {
    transition-delay:200ms ;
  }
  
  .logo:nth-child(3) {
    transition-delay:300ms ;
  }
  
  .logo:nth-child(4) {
    transition-delay:400ms ;
  }
  
  .logo:nth-child(5) {
    transition-delay: 500ms ;
  }
  .logo:nth-child(6) {
    transition-delay: 600ms ;
  }
  
  .logo:nth-child(7) {
    transition-delay: 700ms ;
  }

  .parent-mobile{
    display: none;
  }

























  
  .top-nav{
    display: flex;
    z-index: 6;
    width: 100%;
    height: 50px;
    background-color: white;
    justify-content: center;
    border-bottom: #cccccc solid 1px;
    position: fixed;
    
    .img{
        align-self: center;
        width: 100px;
    }
  }

  .spacer{
    height: 60px;
    width: 100%;
  }

  .nav-bar-container{
    width: 100%;
    height: 80px;
    display: flex;
    position: absolute;
    z-index: 6;

    position: fixed;
    bottom: 0;
    left: 0;
  
    .nav-bar{
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 80%;
        background-color: #ffffff;
        border-radius: 100px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .nav-button-active{
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            
            .material-symbols-rounded{
                color: #000000;
                font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
            }
        }

        .nav-button{
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            
            .material-symbols-rounded{
                color: #b3b3b3;
                transition: 0.40s;
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
            }
        }

        .nav-button-active:hover{
            background-color: #eeeeee;
        }

        .nav-button:hover{
            background-color: #eeeeee;

            .material-symbols-rounded{
              color: #b3b3b3;
              font-variation-settings:
              'FILL' 1,
              'wght' 400,
              'GRAD' 0,
              'opsz' 24
          }
        }
    }
  }




::-webkit-scrollbar {
  -webkit-appearance: none;
}


.carousel{
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


    .container-snap {
        display: flex;
        overflow-x: auto;
        height: 78vh;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        .box{
            width: 91vw;
            position: relative;
            margin-left: 10px;

            .img{
              width: 91vw;
              height: 76vh;
              border-radius: 16px;
              object-fit: cover;
                scroll-snap-align: center;
            }
        }

        .text-container{
          z-index: 1;
          width: 250px;
          bottom: 40px; 
          margin-left: 40px;
          margin-top: -130px;
          text-decoration: none;


          .title{
            font-size: 25px;
            color: #000000;
          }

          .details{
            font-size: 12px;
            margin-top: 10px;
            color: #000000;

          }
        }
    }
}

.title{
  font-family: "Inter", serif;
  font-weight: 700;
}

.details{
  font-family: "Inter", serif;
  font-weight: 500;
}







.spacer02{
  height: 50px;
  width: 100%;
}

.text-container01{
  width: 100%;
  height: 300px;

  .title{
    margin-left: 10px;
    font-size: 21px;
    margin-top: 50px;
  }
















  .carousel02{
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    


    .container-snap {
        display: flex;
        overflow-x: auto;
        height: auto;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-y: hidden;
        gap: 10px;



        .box{
            width: 100%;
            position: relative;
            margin-left: 10px;
            

            .img{
              width: 100%;
              height: 180px;
              border-radius: 16px;
              object-fit: cover;
                scroll-snap-align: left;
            }
      
            .text-container{
              z-index: 1;
              width: 250px;
              

              .title{
                font-size: 25px;
              }

              .details{
                font-size: 13px;
                margin-top: 0px;
                color: #000000;

              }
            }
        }
    }
  } 
}

.divider{
  width: 95%;
  height: 1px;
  background-color: #cccccc;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.survey{
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;

  .title{
    font-size: 21px;
  }

  .img-container{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 106px;

    .img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 16px
    }
  }

  .flex{
    display: flex;
    gap: 10px;
    margin-top: 10px;

    a{
      width: 100%;    

      .button-survey-active{
        border-radius: 100px;
        height: auto;
        width: 100%;
        height: 60px;
        background-color: #000000;
        display: flex;
        gap: 10px;
        justify-content: center;
        transition: 0.40s;


        .material-symbols-rounded{
          color: white;
          font-size: 25px;
          transition: 0.40s;
          align-self: center;

        }

        .details{
          color: white;
          align-self: center;
          font-size: 15px;

        }
      }

      .button-survey{
        border-radius: 100px;
        height: auto;
        width: 100%;
        height: 60px;
        background-color: #d9d9d9;
        display: flex;
        gap: 10px;
        justify-content: center;
        transition: 0.40s;

        .material-symbols-rounded{
          color: rgb(0, 0, 0);
          font-size: 25px;
          transition: 0.40s;
          align-self: center;

        }

        .details{
          color: rgb(0, 0, 0);
          align-self: center;
          font-size: 15px;


        }
      }


      .button-survey-active:hover{
        background-color: #000000;
        transform: scale(0.95);


        .material-symbols-rounded{
          color: white;
          transition: 0.40s;

          font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24        }

        .details{
          color: white;
        }
      }

      .button-survey:hover{
        background-color: #d9d9d9;
        transform: scale(0.95);

        .material-symbols-rounded{
          color: rgb(0, 0, 0);
          transition: 0.40s;

          font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24        
        }

        .details{
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}